@model IList<Pandemi.Models.JournalEntry>

@{
    ViewData["Title"] = "Family Journal Entries";
}



<h1 class="text-center text-uppercase">@ViewBag.Title</h1>

<table class="table">

    <tr>
        <th>Pic</th>
        <th>Date</th>
        <th>Entry</th>
        <th>Author</th>
    </tr>

    @foreach (var entry in Model)
    {
<tr>
    <td>
        <img src="~/images/@entry.EntryFile"
             class="rounded-circle"
             height="100" width="100"
             asp-append-version="true" />
       
    </td>
    <td>@entry.EntryDate</td>
    <td>@entry.Entry</td>
    <td>@entry.FamilyMember.FirstName</td>
  
    
</tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No entries yet!</p>
}

<p><a asp-controller="JournalEntry" asp-action="Add">Add Entry</a></p>
<p><a asp-controller="JournalEntry" asp-action="Remove">Remove</a></p>
