@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tell Your Story LastName Family</h1>

</div>
<h1>Add your activities:</h1>

<div class="col-lg-10">

    <button class="btn btn-primary btn-lg" type="button">Journal</button>
    <button class="btn btn-info btn-lg" type="button">Foods</button>
    <button class="btn btn-danger btn-lg" type="button">Books</button>
</div>

<div class="col-lg-6">
    <button class="btn btn-warning btn-lg" type="button">Skills</button>
    <button class="btn btn-success btn-lg" type="button">Future</button>
</div>

<div class="text-center">
    <h1 class="display-4">OR</h1>

</div>
<h1>Go to Private Page:</h1>

<button class="btn btn-success btn-lg" type="button">Name</button>
<h1></h1>
<button class="btn btn-info btn-lg" type="button">Name</button>
<h1></h1>
<button class="btn btn-danger btn-lg" type="button">Name</button>
<h1></h1>
<button class="btn btn-warning btn-lg" type="button">Name</button>
<h1></h1>
<button class="btn btn-link" type="button">+ Add Family Member</button>


